<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mahl.dao.WindingMachineDao">


	<resultMap id="BaseResultMap" type="com.mahl.pojo.WindingMachine">
		<result column="machine_id" property="machineId" jdbcType="INTEGER" />
		<result column="employee_name" property="employeeName"
			jdbcType="NVARCHAR" />
		<result column="card_id" property="cardId" jdbcType="NVARCHAR" />
		<result column="c_type" property="ctype" jdbcType="NVARCHAR" />
		<result column="mahicne_output" property="mahicneOutput"
			jdbcType="INTEGER" />
		<result column="machine_state" property="machineState"
			jdbcType="BIT" />
		<result column="run_time" property="runTime" jdbcType="INTEGER" />
		<result column="idle_time" property="idleTime" jdbcType="INTEGER" />
		<result column="error_time" property="errorTime" jdbcType="INTEGER" />
		<result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		machine_id, employee_name, card_id, c_type, mahicne_output, 
		machine_state,run_time,idle_time, error_time, record_time
	</sql>

	<select id="findByPage" resultMap = "BaseResultMap" parameterType="com.mahl.dto.PageHelper">	
		SELECT  <include refid="Base_Column_List"></include>
		FROM    ( SELECT TOP ( #{end} )
		                    ROW_NUMBER() OVER ( ORDER BY View_WindingMachine.machine_id ) AS rownum ,
		                    *
		          FROM      View_WindingMachine
		        ) AS temp
		WHERE   temp.rownum > ( #{start} )
		ORDER BY temp.machine_id
	</select>
	
	<select id="getTotalRows" resultType="java.lang.Long">
		select count(1) from View_WindingMachine;	
	</select>
	


</mapper>